.git
.github
.env
.env.example
.editorconfig
.styleci.yml
/node_modules
/vendor
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
/public/build
/public/hot
/public/storage
/bootstrap/cache/*
.phpunit.result.cache
Dockerfile
.dockerignore
docker/
render.yaml
npm-debug.log
yarn-error.log
README.md
CHANGELOG.md
*.md
